* {
    margin: 0;
    padding: 0;
}

.imgGif {
    margin-top: 22vh;
}

.imgGif img {
    width: 40vh;
}

.title {
    margin-top: 5vh;
    background-color: rgb(247, 133, 15);
    color: rgb(55, 40, 26);
}

.title h1 {
    padding: 2vh;
}